<h1>Current weather for <%= @city %></h1>

<p> It is currently <%= @data["main"]["temp"] %> degrees with today's high of <%= @data["main"]["temp_max"] %> degrees and low of <%= @data["main"]["temp_min"] %> degrees</p>

<!-- <p><%= @json_data %></p> -->
